* { 
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: grid;
    place-items: center;
    background: powderblue;
}

#startButton {
    height: 80px;
    width: 250px;
    text-align: center;
    padding:25px 0 0;
    background: pink;
    color: #000;
    font-size: 25px;
    border-radius: 30px 15px;
    border: 2px solid;
    cursor: pointer;
}
