* {
    padding: 0;
    margin: 0; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 1500px;
    background:powderblue;
}

#container {
    height: auto;
    width: auto;
}

#start {
    height: 80px;
    width: 250px;
    text-align: center;
    padding:25px 0 0;
    background: pink;
    color: #000;
    font-size: 25px;
    font-weight: 500;
    border-radius: 30px 15px;
    border: 2px solid;
    cursor: pointer;
    display: none;
}

#start:hover {
    background: #b29600;

}

#guide {
    height: auto;
    display: none;

}

#guide h2 {
    font-size: 60px;
}

# guide h3 {
    height: 50px;
    width: 100%;
    align-items: 20px;
    font: 25px;

}